@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 25% 95%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 213 33% 54%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 28% 84%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 215 28% 84%;
    --muted-foreground: 224 71.4% 4.1%;
    --accent: 120 25% 65%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 20% 65%;
    --input: 215 20% 65%;
    --ring: 213 33% 54%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71% 10%;
    --foreground: 210 20% 98%;
    --card: 224 71% 10%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 10%;
    --popover-foreground: 210 20% 98%;
    --primary: 213 33% 54%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 215 25% 65%;
    --accent: 120 25% 65%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 213 33% 54%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
